<div class='password-reset center center-margin padding' ng-controller='PasswordResetCtrl'>
<div class='text-center'>
	Check your email for your reset code and enter it below!<br />
	It may take a few minutes to arrive and make sure to check your SPAM folder :(
</div>
<form class='jrg-forminput-form' name='passResetForm' ng-submit='submitForm()'>
	<div class='input-group no-label'>
		<div jrg-forminput no-label='1' placeholder='Email' ng-model='formVals.email' opts='' required></div>
		<div jrg-forminput no-label='1' placeholder='Reset Key' ng-model='formVals.password_reset_key' opts='' required></div>
		<div jrg-forminput no-label='1' type='password' placeholder='New Password (6+ characters)' ng-model='formVals.password' opts='' required ng-minlength='6'></div>
		<div jrg-forminput no-label='1' type='password' placeholder='Confirm Password' ng-model='formVals.password_confirm' opts='' required></div>
	</div>
	
	<button class='btn btn-primary btn-block jrg-forminput-submit' type='submit' >Update Password</button>
	<div class='text-info'>{{msgNotify}}</div>
</form>
</div>